<!DOCTYPE html>
<html>
<head>
	<title>Simple Auth System</title>
	<style>
body {background-color: #263238;}
h1   {color: #fce4ec;}
p    {color: #fce4ec;}
</style>
</head>
<body>


	
		{% block content %} 
			<h1>Welcome Home,from Homepage</h1>
			{% if user.is_authenticated %}
				<a href="{% url 'logout' %}" style="color: #fce4ec;">Logout</a>
			
			{% else %}
				<a href="{% url 'login_url' %}">Login</a>
				<a href="{% url 'register_url' %}">Register</a>
			{% endif %}	
		{% endblock %}




</body>
</html>